<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"> 
    <title>Маркировка - получить документ для регистрации</title>
</head>
<body>
    <div class="content">
        <header>
            <img id="logo" src="static/img/logo.png" alt="Логотип маркировка">
            <ul>
                <li>
                    <a href="/">Главная</a>
                </li>
                <li>
                    <a href="/logout">Выход</a>
                </li>
            </ul>
        </header>

        <div class="middle">
            <div class="area">
                <div>
                    <p id="gln">Ваш GLN: {{ session['gln'] }}</p>
                </div>
                <div class="area-menu">
                    <ul>
                        <li><a href="/marked">Маркированная продукция</a></li>
                    </ul>
                </div>
            </div>
            <h1>Документ регистрации</h1>
            <br>
            {{ message|safe }}
            <form id="desktop" action="/action20" method="POST">
                <table>
                    
                    <tr>
                        <td>
                            Глобальный номер товарной продукции GTIN:
                        </td>
                        <td id="sc-cell">
                            <textarea name="gtin" required></textarea>
                        </td>
                    </tr>
    
                    <tr>
                        <td>
                            Контрольный идентификационный знак КИЗ:
                        </td>
                        <td id="sc-cell">
                            <textarea name='kiz' required></textarea>
                        </td>
                    </tr>
    
                    <tr>
                        <td>
                            Серийный номер контрольного идентификационного знака TID:
                        </td>
                        <td id="sc-cell">
                            <textarea name='tid' required></textarea>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Электронная почта:
                        </td>
                        <td id="sc-cell">
                            <input type="email" name='email' required>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="product_type">Тип маркируемого товара:</label>
                        </td>
                        <td  id="sc-cell">
                            <select id="product_type" name="product_type"> 
                                <option value="0">новый</option>
                                <option value="1" selected="">комиссионный</option>
                                <option value="2">возвратный</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td id="sc-cell">
                            <input id="submit" type="submit" value="Получить документ">
                        </td>
                    </tr>
                </table>
            </form>        
        </div>
        <div class="footer">
            
        </div>
    </div>
</body>
</html>