<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Марикровка в Омске</title>
</head>
<style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
button {
    font-family: 'Montserrat';
    background-color: lightgreen;
}

input {
    font-family: 'Montserrat';
}

p {
    width: 550px;
}
</style>
<body style="font-family: 'Montserrat';">
    <h1 style='color: red;'>Ошибка загрузки данных</h1>
    <p>{{ reason }}</p>
    <p>{{ comment|safe }}</p>
    <form action="/" method="post">
        <button>Попробовать снова</button>
    </form>
</body>
</html>