<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"> 
    <title>Маркировка меховых изделий</title>
</head>
<body>
    <div class="content">
        <header>
            <img id="logo" src="static/img/logo.png" alt="Логотип маркировка">
            {% if session['gln'] %}
            <ul>
                <li>
                    <a href="/">Главная</a>
                </li>
                <li>
                    <a href="/area">Личный кабинет</a>
                </li>
                <li>
                    <a href="/logout">Выход</a>
                </li>
            </ul>
            {% else %}
            <ul>
                <li>
                    <a href="/">Главная</a>
                </li>
                <li>
                    <a href="/registration">Регистрация</a>
                </li>
                <li>
                    <a href="/login">Вход</a>
                </li>
            </ul>
            {% endif %}
        </header>

        <div class="middle">
            <h1>Добро пожаловать</h1>
            <p>Веб приложение <i>Маркировка</i> позволяет облегчить процедуру регистрации меховых изделий согласно постановлению правительства РФ (<a href="https://base.garant.ru/71465032/" target="_blank">ссылка</a>)</p>

            <h2>Что требуется для маркировки</h2>
            <p>Регистрация в веб приложении <i>Маркировка</i>;</p>
            <p>Глобальный идентификационный номер (GLN), указанный в профиле личного кабинета <a href="https:\\markirovka.nalog.ru" target="_blank">markirovka.nalog.ru</a>;</p>
            <p>КиЗ и TID, указанные в списке немаркированных КиЗ в личном кабинете <a href="https:\\markirovka.nalog.ru" target="_blank">markirovka.nalog.ru</a>;</p>
            <p>GTIN - глобальные номера товарной продукции, полученные в ГС1 РУ;</p>

            <h2>Что делать дальше</h2>
            <p>После регистрации на данном ресурсе, Вам станет доступна форма, в которой требуется указать перечисленные выше данные и получить документ, который будет направлен на указанный при регистрации адрес электронной почты. После вы сможете загрузить документ в личном кабинете markirovka.nalog.ru</p>
        </div>

        <div class="footer">
        </div>
    </div>
</body>
</html>