<!DOCTYPE html>
<html lang="ru">
<head>
    <meta name="description" content="Маркировка в Омске">
    <meta name="description" content="Маркировка меховых изделий">
    <meta name="keywords" content="Маркировка, Омск, мех, меховые изделия, маркировка нового товара, честный знак, маркировка комисиионного товара">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <meta content='yes' name='apple-mobile-web-app-capable'/>
    <meta name="MobileOptimized" content="width">
    <meta content='true' name='HandheldFriendly'/>
    <link rel="stylesheet" href="static/PageStyle.css">
    <link rel="stylesheet" href="/home/rtm/Documents/Projects/githubtest/mark-service/static/PageStyle.css">
    <title>Маркировка в Омске</title>
</head>

<body>
    <div>
        <h1>marktool</h1>
        <h2>Маркировка</h2>
        <p id="#description">меховых изделий должна осуществляться согласно <a target="_blank" href="http://www.consultant.ru/document/cons_doc_LAW_203253/">постановлению</a> правительства РФ
            через <a href="http://markirovka.nalog.ru/" target="_blank" rel="noopener noreferrer">личный кабинет</a>  национальной системы цифровой маркировки.</p>
        <p>Документ о маркировке меховых изделий включает в себя:</p>
        <br>
        <form id="desktop" action="/action13" method="POST">
            <table>
                <tr>
                    <td>
                        Global Location Number
                    </td>
                    <td id="sc-cell">
                        <input type="text" name="gln">
                    </td>
                </tr>
                
                <tr>
                    <td>
                        Global Trade Item Number
                    </td>
                    <td id="sc-cell">
                        <input type="text" name="gtin">
                    </td>
                </tr>

                <tr>
                    <td>
                        Контрольный Идентификационный Знак
                    </td>
                    <td id="sc-cell">
                        <input type="text" name='tid'>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="product_type">Тип марикруемого товара</label>
                    </td>
                    <td  id="sc-cell">
                        <select id="product_type" name="product_type"> 
                            <option value="0">новый</option>
                            <option value="1" selected="">комиссионный</option>
                            <option value="2">возвратный</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td id="fc-cell">
                        <input id="submit" type="submit" value="Получить документ">
                    </td>
                </tr>
            </table>
        </form>


        <form id="mobile" action="/action13" method="POST">
            Global Location Number
            <br>
            <input type="text" name="gln">
            <br>
            <br>
            Global Trade Item Number
            <br>
            <input type="text" name="gtin">
            <br>
            <br>
            Контрольный Идентификационный Знак
            <input type="text" name='tid'>
            <br>
            <br>
            <label for="product_type">Тип марикруемого товара</label>
            <br>
            <select id="product_type" name="product_type"> 
                <option value="0">новый</option>
                <option value="1" selected="">комиссионный</option>
                <option value="2">возвратный</option>
            </select>
            <br>
            <br>
            <input id="submit" type="submit" value="Получить документ">
        </form>

    </div>
</body>
</html>
