<!DOCTYPE html>
<html lang="ru">
<head>
    <meta name="description" content="Маркировка меховых изделий, инструмент для маркировки меха">
    <meta name="keywords" content="Маркировка, Омск, мех, меховые изделия, маркировка нового товара, честный знак, маркировка комисиионного товара">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <meta content='yes' name='apple-mobile-web-app-capable'/>
    <meta name="MobileOptimized" content="width">
    <meta content='true' name='HandheldFriendly'/>
    <link rel="stylesheet" href="static/PageStyle.css">
    <link rel="stylesheet" href="/home/rtm/Documents/Projects/githubtest/mark-service/static/PageStyle.css">
    <title>Marktool</title>
</head>

<body>
    <div>
        <h1>marktool</h1>
        <h2>Маркировка</h2>
        <p>Документ успешно отправлен.</p>
        <p>Пожалуйста, проверьте электронную почту.</p>
        <br>
        <form id="desktop" action="/" method="GET">
            <table>
                <tr>
                    <td id="fc-cell">
                        <input id="submit" type="submit" value="Вернуться на главную">
                    </td>
                </tr>
            </table>
        </form>

        <form id="mobile" action="/" method="GET">
            <input id="submit" type="submit" value="Вернуться на главную">
        </form>
    </div>
</body>
</html>
